@use "../../sassStyles/variables";

.home {
  height: calc(100vh - variables.$nav-height);

  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    text-align: center;
  }

  .container {
    text-align: center;
  }
}
