@use "../../sassStyles/variables";

.counter {
  height: calc(100vh - variables.$nav-height);

  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    text-align: center;
  }

  .counter-content {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      padding: 4px 8px;
      font-size: 30px;
      margin: 0 10px;
      border: none;
      background-color: variables.$primary-color;
      border-radius: 8px;
      cursor: pointer;
    }
  }
}
