@use "../../sassStyles/variables";

.nav {
  height: variables.$nav-height;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  // display: flex;
  // justify-content: center;
  // align-items: center;

  .container {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav__logo {
      cursor: pointer;
      font-size: 24px;
      font-weight: 600;
    }

    .nav__list {
      display: flex;
      list-style: none;

      .nav__item {
        margin-left: 20px;
        cursor: pointer;
        font-size: 18px;
        font-weight: 500;

        a {
          text-decoration: none;
          color: black;
          padding: 6px 10px;
          border-radius: 8px;
        }
      }

      .active-link {
        background-color: variables.$primary-color;
      }
    }
  }
}

.modal-h1 {
  margin-bottom: 10px;
}

.modal-p {
  margin-bottom: 18px;
  font-size: 20px;
}

.modal-btn {
  background-color: variables.$primary-color;
  border: none;
  padding: 8px 16px;
  font-size: 22px;
  cursor: pointer;
  border-radius: 8px;
}
